<html>
    <head>
        <title>Friend Groups</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <h1>Your Friend Groups</h1>
        {% for group in groups %}
            {% if group.owner_username == session["username"] %}
            <label for="{{group.groupName}}">{{group.groupName}} (Owner)<input type="checkbox" value={{group.groupName}} id={{group.groupName}} name="group"></label>
            <br/>
            {% else %}
            <label for="{{group.groupName}}">{{group.groupName}}<input type="checkbox" value={{group.groupName}} id={{group.groupName}} name="group" style="opacity: 0;" disabled></label>
            <br/>
            {% endif %}
        {% endfor %}
        <input type="text" id="userAdded"><input type="button" value="Add User" onClick="addUser(this)"><span id="errorMsg"></span>
        <br/>
        <span id="resultMessage">{{ message }}</span><br/>
        <a href="/">Go back</a>
    </body>
    <script>
        function addUser(element) {
            var userToAdd = $("#userAdded").val();
            // console.log(userToAdd);
            if (userToAdd === "") {
                document.getElementById("errorMsg").innerHTML="Please enter a user";
                return;
            }
            else {
                var groups = [];
                $("input[type=checkbox]").each(function(){
                    // console.log($(this).val());
                    if (this.checked) {
                        groups.push($(this).val());    
                    }
                });
                // console.log(groups);
                if (groups.length > 1){
                    document.getElementById("errorMsg").innerHTML="Please select only 1 group";
                    return;
                }
                else if (groups.length < 1) {
                    document.getElementById("errorMsg").innerHTML="Please select a group";
                    return;
                }
                else {
                    $.post("/addToGroup", { userToAdd:userToAdd, groups:groups}, function(response) {
                        var resultMsg = $("#resultMessage");
                        resultMsg.html(response)
                    })
                }
            }
        }
    </script>
</html>