<html>
    <head>
        <title>Finstagram</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <style>
            .imageContainer {
                display: inline-block;
            }
            .imageContainer .likeImage {
                position: relative;
                margin-left: 5px;
                margin-top: -130px;
                opacity: 0.2;
            }
            .imageContainer .likeImage:hover {
                opacity: 0.9;
            }
        </style>
    </head>
    <body>
        {% if username %}
        <h1>{{ username }}'s Posts</h1>
        {% else %}
        <h1>All Posts</h1>
        {% endif %}
        <div>
            {% for image in images %}
            <div class="imageContainer">
                <a href="/images/{{ image.filepath }}">
                <img src="/image/{{image.filePath}}" width="300"/>
                </a>
                <p>Posted by: {{image.fname}} {{ image.lname }}</p>
                <p>Posted on: {{ image.postingdate }}</p>
                <button type="button" class="likeImage" onClick="sendImageData(this); return false;" value="{{ image.photoID }}" name="notLiked">Like</button>
                <ul style="list-style-type:none;">
                    {% for rating in image.ratings %}
                        <li>User {{ rating.username }} gave a {{ rating.rating }} rating</li>
                    {% endfor %}
                </ul>
                <p>TAGGED USERS:</p>
                <ul style="list-style-type:none;">
                    {% for tagee in image.tagees %}
                        <li>{{ tagee.firstName }} {{ tagee.lastName }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
        <a href="/">Go back</a>
    </body>
<script>
    function sendImageData(element) {
        if (element.name == "notLiked"){
            $.post( "/likeImage", {
            photoID: element.value
            });
            element.setAttribute("name", "Liked")
        }
    }
</script>
</html>
