<html>
    <head>
        <title>Create FriendGroup</title>
    </head>
    <body>
        <h1>FriendGroup</h1>
        <div>
            <form action="/registerAuthFG" method="post">
                <input type="text" name="groupName" placeholder="Group Name" required/>
                <br/>
                <input type="text" name="description" placeholder="Description" required/>
                <br/>
                <input type="submit" value="Create FriendGroup">
            </form>
        </div>
        {% if error %}
            {{ error }}
        {% endif %}
    <a href="/">Go back</a>
    </body>
</html>
